@model FleetManagementSystem.Models.Mileage

<h1>Edit Mileage</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @*<input type="hidden" asp-for="Id" />*@

    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalMileage" class="control-label"></label>
        <input asp-for="TotalMileage" class="form-control" />
        <span asp-validation-for="TotalMileage" class="text-danger"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="ProofFilePath">Proof (Image)</label>
        <input asp-for="ProofFilePath" type="file" class="form-control" name="ProofFile" />
    </div>*@
    <div class="form-group">
        <label asp-for="ProofFilePath">Proof (Image)</label>

        @if (!string.IsNullOrEmpty(Model.ProofFilePath))
        {
            <div>
                <a href="@Url.Content(Model.ProofFilePath)" target="_blank">
                    <i class="fas fa-image"></i> View existing Picture
                </a>
            </div>
        }

        <input asp-for="ProofFilePath" type="file" class="form-control" name="ProofFile" />
        <span class="text-muted">Leave empty if you don't want to replace the current picture proof.</span>
    </div>

    <div class="form-group">
        <label asp-for="VehicleId" class="control-label">Select Vehicle</label>
        <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleList"></select>
        <span asp-validation-for="VehicleId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index"class="btn btn-secondary">Cancel</a>
</form>