/* Make the entire card clickable */
.card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}
    /* Set a larger height for the cards */
    .card-link .card {
        height: 30vh; /* Increase this value to make the card taller */
    }

/* Fix hover animations */
.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .card-link .card-body.card-body-color-1 {
        background-color: rgb(201, 104, 104, 0.8);
    }

    .card-link .card-body.card-body-color-2 {
        background-color: rgb(250, 223, 161, 0.8);
    }

    .card-link .card-body.card-body-color-3 {
        background-color: rgb(255, 244, 234, 0.8);
    }

    .card-link .card-body.card-body-color-4 {
        background-color: rgb(126, 172, 181, 0.8);
    }

    .card-link .card-body.card-body-color-5 {
        background-color: rgb(163, 191, 168, 0.8); /* Example similar color */
    }

    .card-link .card-body.card-body-color-6 {
        background-color: rgb(216, 180, 160, 0.8); /* Example similar color */
    }

    .card-link .card-body.card-body-color-7 {
        background-color: rgb(246, 214, 201, 0.8); /* Example similar color */
    }
    
/* Hover effect */
    .card-link:hover {
        transform: scale(1.05); /* Slight increase on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    }

        .card-link:hover .card-body.card-body-color-1 {
            background-color: rgb(201, 104, 104);
        }

    .card-link:hover .card-body.card-body-color-2 {
        background-color: rgb(250, 223, 161);
    }

    .card-link:hover .card-body.card-body-color-3 {
        background-color: rgb(255, 244, 234);
    }

    .card-link:hover .card-body.card-body-color-4 {
        background-color: rgb(126, 172, 181);
    }

    .card-link:hover .card-body.card-body-color-5 {
        background-color: rgb(163, 191, 168); /* Example similar color */
    }

    .card-link:hover .card-body.card-body-color-6 {
        background-color: rgb(216, 180, 160); /* Example similar color */
    }

    .card-link:hover .card-body.card-body-color-7 {
        background-color: #F6D6C9; /* Example similar color */
    }
