html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/BG3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5f5; /* Fallback color */
}

/* Highlight required input fields */
input:required {
    border-left: 3px solid #dc3545; /* Red border for required fields */
}

/* Styling for the validation message */
.text-danger {
    font-size: 0.9rem;
    color: #dc3545;
}

/* Change input style when it is invalid */
input:invalid {
    border-left: 3px solid #dc3545; /* Red border when the field is invalid */
}

/* Required field asterisk color */
label span.text-danger {
    font-size: 1rem;
    color: #dc3545; /* Red asterisk */
}